---
name: Compile Release
on:
  release:
    types:
      - created
  workflow_dispatch: null
env:
  BUILD_PROFILE: release-lto
jobs:
  build:
    strategy:
      matrix:
        include:
          - name: linux-x86_64
            platform: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: build
          - name: linux-arm64
            platform: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            build: zigbuild
          - name: windows-x86_64
            platform: windows-latest
            target: x86_64-pc-windows-msvc
            build: build
          - name: windows-arm64
            platform: windows-latest
            target: aarch64-pc-windows-msvc
            build: build
          - name: macos-x86_64
            platform: macos-latest
            target: x86_64-apple-darwin
            build: build
          - name: macos-arm64
            platform: macos-latest
            target: aarch64-apple-darwin
            build: build
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    env:
      ARTIFACT_DIR: target/${{ matrix.target }}/release-lto
      ARTIFACT_NAME: yamlvd-${{ matrix.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - name: Install cargo-zigbuild
        if: matrix.build == 'zigbuild'
        run: pip install cargo-zigbuild
      - name: Build
        run: cargo ${{ matrix.build }} --profile ${{ env.BUILD_PROFILE }} --target ${{ matrix.target }}
      - name: Sign
        if: startsWith(matrix.platform, 'macos')
        run: codesign -s - yamlvd
        working-directory: ${{ env.ARTIFACT_DIR }}
      - name: Create Artifact (Unix)
        if: ${{ !startsWith(matrix.platform, 'windows') }}
        run: zip ${{ env.ARTIFACT_NAME }}.zip yamlvd
        working-directory: ${{ env.ARTIFACT_DIR }}
      - name: Create Artifact (Windows)
        if: startsWith(matrix.platform, 'windows')
        run: Compress-Archive -path yamlvd.exe -destinationPath ${{ env.ARTIFACT_NAME }}.zip
        working-directory: ${{ env.ARTIFACT_DIR }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_DIR }}/${{ env.ARTIFACT_NAME }}.zip
          if-no-files-found: error
      - name: Release Artifact
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ env.ARTIFACT_DIR }}/${{ env.ARTIFACT_NAME }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
